# .gitignore

# Ignoriere die Datei mit den geheimen Schlüsseln
/app/private-env.php

# Ignoriere Composer-Abhängigkeiten (falls du später Composer nutzt)
/vendor/

# Ignoriere Betriebssystem-spezifische Dateien (z.B. von macOS)
.DS_Store

# Ignoriere das Log-Verzeichnis
/log/
